.box {
  border:1px solid #339;
  margin-top:5px;
}

.box_header {
  background-color: #339;
  color: #eef;
  font-weight: bold;
}

.box_content {
  padding:5px;
}

#sequences {
  font-weight: bold;
}

#genomes {
  font-weight: bold;
}

#reference, #ticks {
  font-family: monospace;
  font-size: small;
}

.b_G {
  background-color: #c0c0c0;
}

.b_T {
  background-color: #f0a0a0;
}

.b_C {
  background-color: #a0a0f0;
}

.b_A {
  background-color: #a0f0a0;
}
